<!-- <input type="text" 
       [value]="username" 
       (input)="username = $event.target.value"
/>
<span>hello, {{username}}</span> -->


<!-- <input type="text" 
       [(ngModel)]="username"
/>
<span>hello, {{username}}</span> -->

<!-- <input type="text" [ngModel]="username" (ngModelChange)="username = $event"/>
<span>hello, {{username}}</span> -->
<!-- <input type="text"/>
<p>hello</p>
<div appGridItem></div> -->
<div appGridItem *ngFor="let item of channels">
       <img src="{{item.icon}}" alt="" appGridItemImage/>
       <span appGridItemTitle>{{item.title}}</span>
</div>